

<header class="header">
<h1>Images</h1>

<section>
  <form action="/add" method="POST">
     <label for="img">Image Url</label>
     <input type="text" name="img_url" value="" placeholder="Your image url ..." required>

     <label for="des">Description</label>
     <textarea name="description" placeholder="Write something.." style="height:200px" required></textarea>

     <input type="submit" value="Submit">
   </form>
</section>
</header>

<section>
  {{#each data}}
  <img src="{{url}}">
  <h2>{{description}}</h2>
  {{/each}}
</section>
