
<header class="header">
<h1 class="title">Images</h1>

<section class="form">
  <form action="/add" method="POST">
     <label for="img">Image Url</label>
     <input type="text" name="img_url" value="" placeholder="Your image url ..." required>
     <label for="des">Description</label>

     <textarea name="description" placeholder="Write something.." required></textarea>
     {{#if err }}
      <p>{{err}}</p>
      {{/if}}
     <input type="submit" value="Submit">
     <p class="mess">{{messege}}</p>
   </form>
</section>
</header>
  <h3 class="sub-title">Your Images</h3>

  <section class="container">
      {{#each data}}
        <div class="gallery">
          <img class="img-item" src="{{url}}">
          <p class="dec-item">{{description}}</p>
        </div>
        {{/each}}
  </section>
