<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content ="width=device-width, initital-scale=1">
    <link rel="stylesheet" href="css/resets.css">
    <link rel="stylesheet" href="css/style.css">
    <title>My Pics</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
